@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}
body{
    background-color: #d5e1ef;
    min-height: 100vh;
}

.card{
    height: 400px;
    width: 100%;
    max-width: 280px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px  rgba(0, 0, 0, 0.26);
    position: fixed;
    margin: auto;
    inset: 0;
    padding: 10px;
}

.card img{
    width: 100%;
    border-radius: 10px;
}
.card .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text h4{
    font-size: 22px;
    font-weight: 900;
}
.text p{
    font-family: cursive;
    letter-spacing: 5px;
    margin-top: -10px;
}
.card .icons{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.icons i{
    color: rgba(48, 55, 148, 0.658);
    font-size: 2rem;
    transition: color .1s linear;
}

.icons i:hover{
    color: black;
}

@media (max-width:600px) {
    .card{
        height: 500px;
        width: 100%;
        max-width: 380px;
    }
    .text h4{
        font-size: 27px;
        font-weight: 900;
    }
    .text p{
        font-family: cursive;
        font-weight: 900;
        font-size: 20px;
        letter-spacing: 5px;
        margin-top: -10px;
    }
}